@import './colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundLight;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  border: 1px solid $primaryLight;
  border-radius: 4px;
  line-height: 32px;
  font-size: 14px;
  outline: none;
  padding-left: 4px;
}

button {
  &:hover {
    opacity: 0.92;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 1;
  }
}
