@import '../../styles/colors.scss';

.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .form {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;
    background-color: $white;

    h2 {
      margin-bottom: 12px;
      text-align: center;
      font-size: 24px;
    }
  }

  .link {
    display: flex;
    align-self: center;
    margin-top: 16px;
    color: $primary;
    text-transform: lowercase;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
